<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The Knowledge Gap</string>
	<string>Keys of Good Design</string>
	<string>Placement of key UI Elements</string>
	<string>The Who, What, Where, Why of App Design</string>
	<string>What makes a good idea into a great app?</string>
	<string>Examples of great apps</string>
</array>
</plist>
