<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>What are Statements of Work?</string>
	<string>How do you handle a situation where a client requests a sudden, last minute change to a project?</string>
	<string>How do you manage a client relationship?</string>
	<string>What can developers do during early sprints on a project?</string>
	<string>What do you do if a resource on your team is not pulling their weight?</string>
	<string>What is an obstacle your team has had to overcome?</string>
	<string>What about a conflict between two senior developers, where each believed they had the better solution to a problem? </string>
</array>
</plist>
